html {
    font-size: 14px;
  }
  @media (min-width: 768px) {
    html {
      font-size: 16px;
    }
  }

  .wrapper{
    max-width: 960px;
    margin: auto;
  }

  hr {
    max-width: 960px;
  }

  .img-icon {
    opacity: 0.9;
  }   

  .img-icon:hover {
    opacity: 1;
    transform: scale(1.1);
  }     
  
  .container {
    max-width: 960px;
  } 
  
  .card-deck .card {
    min-width: 220px;
  }

  .btn-color-1 {
    background-color: #EB0079;
    border-color: #EB0079;
    color: #fff;
  }
  .btn-color-1:hover,
  .btn-color-1:focus,
  .btn-color-1:active,
  .btn-color-1.active {
    background-color: #d2006c !important;
    border-color: #b8005f !important;
    color: #fff;
  }
  .btn-color-1.disabled:hover,
  .btn-color-1.disabled:focus,
  .btn-color-1.disabled:active,
  .btn-color-1.disabled.active,
  .btn-color-1[disabled]:hover,
  .btn-color-1[disabled]:focus,
  .btn-color-1[disabled]:active,
  .btn-color-1[disabled].active,
  fieldset[disabled] .btn-color-1:hover,
  fieldset[disabled] .btn-color-1:focus,
  fieldset[disabled] .btn-color-1:active,
  fieldset[disabled] .btn-color-1.active {
    background-color: #EB0079;
    border-color: #EB0079;
    color: #fff;
  }
  
  .btn-color-2 {
    background-color: #7D00FF;
    border-color: #7D00FF;
    color: #fff;
  }
  .btn-color-2:hover,
  .btn-color-2:focus,
  .btn-color-2:active,
  .btn-color-2.active {
    background-color: #7100e6 !important;
    border-color: #6400cc !important;
    color: #fff;
  }
  .btn-color-2.disabled:hover,
  .btn-color-2.disabled:focus,
  .btn-color-2.disabled:active,
  .btn-color-2.disabled.active,
  .btn-color-2[disabled]:hover,
  .btn-color-2[disabled]:focus,
  .btn-color-2[disabled]:active,
  .btn-color-2[disabled].active,
  fieldset[disabled] .btn-color-2:hover,
  fieldset[disabled] .btn-color-2:focus,
  fieldset[disabled] .btn-color-2:active,
  fieldset[disabled] .btn-color-2.active {
    background-color: #7D00FF;
    border-color: #7D00FF;
    color: #fff;
  }
  
  .border-top { border-top: 1px solid #e5e5e5; }
  .border-bottom { border-bottom: 1px solid #e5e5e5; }
  
  .box-shadow { box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05); }